<% content_for :homepage, true %>

<% content_for :content do %>
  <section class="slab--hero-<%= rand(1..3) %> slab slab--hero">
    <div class="hero--cta-options">
      <div class="grid">
        <div class="grid__item width-one-half">
          <h1>
            Report changes to your benefits case
          </h1>

          <div>
            <div id="first-tooltip" class="tooltip-toggle tooltip" data-number="1" title="You’ll see these annotations throughout the demo. Tap a purple circle to see the note. Tap again to close it. You can also hide all annotations with the button in the corner. Click this button to start the demo. ">1</div>
            <%= link_to screen_path(FormNavigation.first) do %>
              <button class="button button--large button--cta">Start my report <i class="button__icon icon-arrow_forward"></i></button>
            <% end %>
          </div>

          <p>
            <div class="tooltip-toggle tooltip" data-number="2" title="Set expectations for the client by telling them how long the process will take.">2</div>
            <span data-intro="Set expectations for the client by telling them how long the process will take." data-position="bottom">It only takes 10 minutes</span>
          </p>

        </div>
        <div class="grid__item width-one-half is-tablet-hidden--inline vertical-line">
          <div class="grid__item text--small width-one-half">
            <p class="h4">Supported programs:</p>
            <div class="tooltip-toggle tooltip" data-number="3" title="Clients don't always know which benefits they're enrolled in, or may call them by different names. An integrated system allows clients to report changes without having to identify their benefit.">3</div>
            <ul data-intro="Clients don't always know which benefits they're enrolled in, or may call them by different names. An integrated system allows clients to report changes without having to identify their benefit." data-position="right">
              <li><i class="icon-done"></i> SNAP (food stamps)</li>
              <li><i class="icon-done"></i> Medicaid</li>
              <li><i class="icon-done"></i> ColoradoWorks</li>
              <li><i class="icon-done"></i> Adult Financial</li>
            </ul>
          </div>
          <div class="grid__item text--small width-one-half">
            <p class="h4">Report changes in:</p>
            <ul>
              <li><i class="icon-done"></i> Employment</li>
              <li><i class="icon-done"></i> Hours</li>
              <li><i class="icon-done"></i> Pay</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slab slab--white">
    <div class="grid is-desktop-hidden--inline">
      <div class="grid__item text--small width-one-half">
        <p class="h4">Supported programs:</p>
        <ul class="list--padded">
          <li><i class="icon-done"></i> SNAP (food stamps)</li>
          <li><i class="icon-done"></i> Medicaid</li>
          <li><i class="icon-done"></i> ColoradoWorks</li>
          <li><i class="icon-done"></i> Adult Financial</li>
        </ul>
      </div>
      <br/>
      <div class="grid__item text--small width-one-half">
        <p class="h4">Report changes in:</p>
        <ul class="list--padded">
          <li><i class="icon-done"></i> Employment</li>
          <li><i class="icon-done"></i> Hours</li>
          <li><i class="icon-done"></i> Pay</li>
        </ul>
      </div>
    </div>

    <hr class="is-desktop-hidden"/>

    <div class="grid">
      <div class="grid__item width-full">
        <p class="h3">
          If your income increases by a certain amount you need to report the change to your benefits case. If your income falls or your expenses increase, you may be eligible for more benefits.
        </p>
        <p class="h3">
          <%= link_to 'Start your report', screen_path(FormNavigation.first) %> now.
          We’ll guide you through the process with simple step-by-step directions.
        </p>
      </div>
    </div>
  </section>

  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-full text--centered" id="county-logos">
        <%= image_tag("arapahoe.jpg", alt: "Arapahoe County seal") %>
        <%= image_tag("denver.jpg", alt: "Denver County logo") %>
        <%= image_tag("garfield.png", alt: "Garfield County logo") %>
        <%= image_tag("pitkin.png", alt: "Pitkin County logo") %>
        <p class="text--small">In partnership with the Colorado Department of Human Services and Arapahoe, Denver, Garfield, and Pitkin Counties.</p>
      </div>
    </div>
  </section>

  <section class="slab slab--white is-desktop-hidden--inline">
    <%= render "shared/how_it_works" %>
  </section>

  <section class="slab slab--off-white is-tablet-hidden--inline">
    <div class="grid">
      <div class="grid__item text--small width-one-third center">
        <%= render "shared/how_it_works_step1" %>
      </div>
      <div class="grid__item text--small width-one-third center">
        <%= render "shared/how_it_works_step2" %>
      </div>
      <div class="grid__item text--small width-one-third center">
        <%= render "shared/how_it_works_step3" %>
      </div>
    </div>
  </section>

  <style>
    .chardinjs-tooltip {
      background-color: rgba(0, 0, 0, 0.5);
      padding-left: 5px;
      padding-bottom: 5px;
    }
  </style>

  <script>
    $(function() {
      $('#first-tooltip').tooltipster('open');
    });
  </script>
<% end %>
