<% content_for :success, true %>
<% content_for :emoji, "emoji--party-popper" %>
<% content_for :card_title, t(self_or_other_member_translation_key(".title")) %>
<% content_for :card_body do %>
  <hr />

  <p>
    What’s next? We’ll use your answers on this form to see if your household benefits change.
    <%= t(self_or_other_member_translation_key(".client_notified"), name: current_change_report.member.first_name) %>
  </p>

  <hr />

  <% if current_change_report.metadata.has_feedback? %>
    <div class="center">
      <div class="emoji emoji--big emoji--blush"></div>
      <h3>Thanks for your feedback! It will help improve this service.</h3>
    </div>
  <% else %>
    <div id="feedback-form" class="center">
      <div class="feedback-survey__form">
        <%= form_with url: current_path, method: :put, local: true %>
          <%= fields_for(:form, @form, builder: CfaFormBuilder) do |f| %>
            <%= f.cfa_radio_set :feedback_rating,
              label_text: "<h3>How was your experience with this tool?</h3>",
              collection: [
                { value: "negative", label: '<span class="radio-button__image emoji emoji--med emoji--frowning-face">Bad</span>' },
                { value: "neutral", label: '<span class="radio-button__image emoji emoji--med emoji--neutral-face">Ok</span>' },
                { value: "positive", label: '<span class="radio-button__image emoji emoji--med emoji--grinning-face">Good</span>' }
              ],
              layouts: ["inline", "image"] %>

          <%= f.cfa_textarea :feedback_comments, '<strong>Do you have any feedback for us?</strong>', options: {rows: '2'} %>
          <button class="button button--full-mobile" type="submit">Submit</button>
        <% end %>
        </form>
      </div>
    </div>
  <% end %>
<% end %>