<% content_for :success, true %>
<% content_for :fbook_tracking do %>
  <script>
    fbq('track', 'CompleteRegistration');
  </script>
<% end %>

<% content_for :card_illustration do %>
  <div data-intro="Use visual design and clear language to confirm that the report has been successfully submitted." data-position="left">
  <div class="emoji emoji--big emoji--party-popper"></div>
<% end %>
<% content_for :card_title, 'You have successfully submitted this change report. </div>'.html_safe %>
<% content_for :card_body do %>
  <p id="whats-next" data-intro="Tell clients what the next step is. Be specific as possible." data-position="left">
    What’s next? We’ll use your answers on this form to see if your household benefits change.
    <%= t(self_or_other_member_translation_key(".client_notified"), member_names: current_report.member_names) %>
  </p>

  <p>
    If you have any questions, email us at hello@reportchangescolorado.org or text us at (720) 699-9772.
  </p>

  <p>Have another change? <%= link_to "Start a new report", root_path %>.</p>

  <hr />

  <% if current_report.metadata.has_feedback? %>
    <div class="center">
      <div class="emoji emoji--big emoji--blush"></div>
      <h3>Thanks for your feedback! It will help improve this service.</h3>
    </div>
  <% else %>
    <div id="feedback-form" class="center">
      <div class="feedback-survey__form">
        <%= form_with url: current_path, method: :put, local: true %>
          <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
            <%= f.cfa_radio_set :feedback_rating,
              label_text: "<h3>How was your experience with this tool?</h3>",
              collection: [
                { value: "negative", label: '<span class="radio-button__image emoji emoji--med emoji--frowning-face">Bad</span>' },
                { value: "neutral", label: '<span class="radio-button__image emoji emoji--med emoji--neutral-face">Ok</span>' },
                { value: "positive", label: '<span class="radio-button__image emoji emoji--med emoji--grinning-face">Good</span>' }
              ],
              layouts: ["inline", "image"] %>

          <%= f.cfa_textarea :feedback_comments, '<strong>Do you have any feedback for us?</strong>', options: {rows: '2'} %>
          <button class="button button--full-mobile" type="submit">Submit</button>
        <% end %>
        </form>
      </div>
    </div>
  <% end %>

  <script>

    $("fieldset:first").attr("data-intro","Applying for benefits is often stressful. Avoid distracting clients mid-way through their change report by asking them to improve it for other people. Keep an optional survey at the end and they will be more willing to give feedback.").attr("data-position","left");
    $("<div class='tooltip tooltip-toggle' data-number='1' title=\"Use visual design and clear language to confirm that the report has been successfully submitted.\">1</div>").insertBefore($(".form-card__title"));
    $("<div class='tooltip tooltip-toggle' data-number='2' title=\"Tell clients what the next step is. Be specific as possible.\">2</div>").insertBefore($("#whats-next"));
    $("<div class='tooltip tooltip-toggle' data-number='3' title=\"Applying for benefits is often stressful. Avoid distracting clients mid-way through their change report by asking them to improve it for other people. Keep an optional survey at the end and they will be more willing to give feedback.\">3</div>").insertBefore($("fieldset:first"));
  </script>
<% end %>