<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
</head>
<body>
<div class="pdf">
  <h1>Change Request Form</h1>

  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Date Submitted
      </p>
      <span class="value">
        <%= change_report.formatted_submitted_at %>
      </span>
    </div>

    <div class="divider"></div>
  </div>

  <div class="row">
    <div class="column one-of-one">
      <p class="label">
        Full name
      </p>
      <span class="value">
        <%= change_report.member_name %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Social Security Number
      </p>
      <span class="value">
        <%= change_report.formatted_ssn %>
      </span>
    </div>

    <div class="column one-of-four">
      <p class="label">
        Case Number
      </p>
      <span class="value">
        <%= change_report.formatted_case_number %>
      </span>
    </div>

    <div class="column one-of-four">
      <p class="label">
        Date of Birth
      </p>
      <span class="value">
        <%= change_report.formatted_birthday %>
      </span>
    </div>

    <div class="divider"></div>
  </div>


  <div class="row">
    <div class="column three-of-four">
      <p class="label">
        Change type
      </p>
      <span class="value">
        Income change: job termination
      </span>
    </div>
  </div>

  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Employer name
      </p>
      <span class="value">
        <%= change_report.company_name %>
      </span>
    </div>

    <div class="column one-of-four">
      <p class="label">
        Last day of work
      </p>
      <span class="value">
        <%= change_report.formatted_last_day %>
      </span>
    </div>

    <div class="column one-of-four">
      <p class="label">
        Last paycheck
      </p>
      <span class="value">
      <%= change_report.formatted_last_paycheck %>
    </span>
    </div>
  </div>

  <div class="divider"></div>

  <p class="label">
    Verifications
  </p>

  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Termination letter?
      </p>

      <% if change_report.navigator.has_letter_yes? %>
        <span class="value">
          See attached
        </span>
      <% else %>
        <span class="value">
          Client does not have this
        </span>
      <% end %>
    </div>
  </div>

  <% if change_report.navigator.has_letter_yes? %>
    <% change_report.letters.each do |letter| %>
      <% if letter.image? %>
        <div class="alwaysbreak">
          <% ActiveStorage::Current.set(host: Rails.application.config.action_mailer.default_url_options[:host]) do %>
            <img src="<%= letter.service_url %>">
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="row">
      <div class="column one-of-two">
        <p class="label">
          Supervisor or manager's name
        </p>
        <span class="value">
          <%= change_report.manager_name %>
        </span>
      </div>
      <div class="column one-of-two">
        <p class="label">
          Supervisor or manager's phone number
        </p>
        <span class="value">
          <%= change_report.formatted_manager_phone_number %>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="column one-of-one">
        <p class="label">
          Additional info
        </p>
        <span class="value">
          <%= change_report.manager_additional_information %>
        </span>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>