<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
</head>
<body>
<div class="pdf">
  <h1>Change Request Form</h1>

  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Date Submitted
      </p>
      <span class="value">
        <%= change_report.submitted_at %>
      </span>
    </div>

    <div class="divider"></div>
  </div>

  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Full name
      </p>
      <span class="value">
        <%= change_report.client_name %>
      </span>
    </div>

    <div class="column one-of-two">
      <p class="label">
        Phone Number
      </p>
      <span class="value">
        <%= change_report.client_phone_number %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Social Security Number
      </p>
      <span class="value">
        <%= change_report.ssn %>
      </span>
    </div>

    <div class="column one-of-four">
      <p class="label">
        Case Number
      </p>
      <span class="value">
        <%= change_report.case_number %>
      </span>
    </div>

    <div class="column one-of-four">
      <p class="label">
        Date of Birth
      </p>
      <span class="value">
        <%= change_report.birthday %>
      </span>
    </div>

    <div class="divider"></div>
  </div>


  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Change type
      </p>
      <span class="value">
        Income change: job termination
      </span>
    </div>

    <div class="column one-of-two">
      <p class="label">
        Employer name
      </p>
      <span class="value">
        <%= change_report.company_name %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="column one-of-four">
      <p class="label">
        Last day of work
      </p>
      <span class="value">
        <%= change_report.last_day %>
      </span>
    </div>

    <div class="column one-of-four">
      <p class="label">
        Last paycheck
      </p>
      <span class="value">
        <%= change_report.last_paycheck %>
      </span>
    </div>

    <div class="column one-of-two">
      <p class="label">
        Final paystub amount
      </p>
      <span class="value">
        <%= change_report.last_paycheck_amount %>
      </span>
    </div>
  </div>

  <div class="divider"></div>

  <p class="label">
    Verifications
  </p>

  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Termination letter?
      </p>

      <span class="value">
        <%= change_report.termination_letter %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="column one-of-two">
      <p class="label">
        Supervisor or manager's name
      </p>
      <span class="value">
          <%= change_report.manager_name %>
        </span>
    </div>
    <div class="column one-of-two">
      <p class="label">
        Supervisor or manager's phone number
      </p>
      <span class="value">
          <%= change_report.manager_phone_number %>
        </span>
    </div>
  </div>

  <div class="row">
    <div class="column one-of-one">
      <p class="label">
        Additional info
      </p>
      <span class="value">
          <%= change_report.manager_additional_information %>
        </span>
    </div>
  </div>

  <% change_report.image_letters.each do |letter| %>
    <div class="alwaysbreak">
      <%= image_tag(wicked_blob_path(letter), alt: '_', width: "100%") %>
    </div>
  <% end %>
</div>
</body>
</html>