<% content_for :form_card_title, "Add your letter." %>

<% content_for :form_card_body do %>
    <%= fields_for(:form, @form) do |f| %>
        <%= f.file_field :letters, multiple: true, direct_upload: true, style: "display: none;" %>
    <% end %>
    <div class="uploaded-files">
      <% @form.letters.each do |letter| %>
          <div class="uploaded-file-detail">
            <div class="doc-preview">
              <div class="doc-preview__info">
                <h4><%= letter.filename %></h4>
                <p class="text--help">
                  <a class="delete-file-link link--subtle" href="#">
                    Delete
                  </a>
                </p>
              </div>
              <div class="doc-preview__thumb">
                <%= image_tag url_for(letter), size: "100x100" %>
              </div>
            </div>
            <input type="hidden" value="<%= letter.signed_id %>" name="form[letters][]" />
          </div>
        <% end %>
    </div>
    <div class="text--centered">
      <div class="verification-upload-icon" <% if @form.letters.present? %>style="display: none;"<% end %>></div>
      <div>
        <button class="button button--cta is-tablet-hidden--inline" id="file-upload">Pick a file from this computer</button>
        <button class="button button--cta is-desktop-hidden--inline" id="file-upload">Take a picture</button>
      </div>
    </div>
<% end %>

<% content_for :progress_indicator_percentage, "70" %>
