<% if current_change_report.navigator.documents_to_upload == :termination_letter %>
  <% content_for :card_title, "Add the letter or final paycheck." %>
<% elsif current_change_report.navigator.documents_to_upload == :offer_letter %>
  <% content_for :card_title, "Add the offer letter." %>
<% elsif current_change_report.navigator.documents_to_upload == :paystub %>
  <% content_for :card_title, "Add the paystubs." %>
  <% content_for :card_help, "It’s helpful to include 2 to 3 paystubs if you have them." %>
<% elsif current_change_report.navigator.documents_to_upload == :offer_letter_and_paystub %>
  <% content_for :card_title, "Add the offer letter and paystubs." %>
  <% content_for :card_help, "It’s helpful to include 2 to 3 paystubs if you have them." %>
<% elsif current_change_report.navigator.documents_to_upload == :change_in_hours_letter %>
  <% content_for :card_title, "Add your letter." %>
<% elsif current_change_report.navigator.documents_to_upload == :change_in_hours_letter_and_paystub %>
  <% content_for :card_title, "Add your letter and paystubs." %>
  <% content_for :card_help, "It’s helpful to include 2 to 3 paystubs if you have them." %>
<% end %>

<% content_for :card_body do %>
    <%= fields_for(:form, @form) do |f| %>
        <%= f.file_field :letters, multiple: true, direct_upload: true, style: "display: none;", accept: "image/png, image/jpeg, image/gif, application/pdf" %>
    <% end %>
    <div class="uploaded-files">
      <% @form.letters.each do |letter| %>
          <div class="uploaded-file-detail">
            <div class="doc-preview">
              <div class="doc-preview__info">
                <h4><%= letter.filename %></h4>
                <p class="text--help">
                  <a class="delete-file-link link--subtle" href="#">
                    Delete
                  </a>
                </p>
              </div>
              <% if letter.content_type == "application/pdf" %>
                <div class="doc-preview__thumb emoji emoji--page-facing-up"></div>
              <% else %>
                <div class="doc-preview__thumb">
                  <%= image_tag url_for(letter), size: "100x100", alt: "Preview of uploaded document #{letter.filename}" %>
                </div>
              <% end %>
            </div>
            <input type="hidden" value="<%= letter.signed_id %>" name="form[letters][]" />
          </div>
        <% end %>
    </div>
    <div class="text--centered">
      <div class="verification-upload-icon" <% if @form.letters.present? %>style="display: none;"<% end %>></div>
      <div>
        <button class="button button--cta is-tablet-hidden--inline upload-file-button">Pick a file from this computer</button>
        <button class="button button--cta is-desktop-hidden--inline upload-file-button">Take a picture</button>
      </div>
    </div>
<% end %>
