<%= render partial: 'change_reports/member_info' %>

<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Change type
    </p>
    <span class="value">
      Income change: change in hours/pay
    </span>
  </div>

  <div class="column one-of-two">
    <p class="label">
      Employer name
    </p>
    <span class="value">
      <%= @change_report.company_name %>
    </span>
  </div>
</div>

<div class="row">
  <div class="column one-of-four">
    <p class="label">
      Date of change
    </p>
    <span class="value">
      <%= @change_report.change_date %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Wage
    </p>
    <span class="value">
      <%= @change_report.hourly_wage %>
    </span>
  </div>

  <div class="column one-of-two">
    <p class="label">
      Pay frequency
    </p>
    <span class="value">
      <%= @change_report.paid_how_often %>
    </span>
  </div>
</div>

<div class="row">
  <div class="column one-of-four">
    <p class="label">
      New hours per week (range)
    </p>
    <span class="value">
      <%= @change_report.change_in_hours_hours_a_week %>
    </span>
  </div>
</div>

<div class="row">
  <div class="column one-of-one">
    <p class="label">
      Additional info about hours and wages
    </p>
    <%= render partial: 'change_reports/value_or_no_response', locals: { value: @change_report.change_in_hours_notes } %>
  </div>
</div>

<div class="divider"></div>

<p class="label">
  Verifications
</p>

<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Included document?
    </p>

    <span class="value">
      <%= @change_report.uploaded_proof_words_for_pdf %>
    </span>
  </div>
</div>

<%= render partial: 'change_reports/job_contact_info' %>