<% content_for :card_title, "Do you have a letter or paystubs?" %>

<% content_for :card_body do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <%= f.cfa_radio_set :has_change_in_hours_documents,
                        label_text: "Do you have a letter or paystubs?",
                        legend_class: "sr-only",
                        collection: [
                          { value: :yes, label: "Yes" },
                          { value: :no, label: "No" },
                        ] %>
  <% end %>

  <div class="reveal">
    <p><a href="#" class="reveal__link">What should these include?</a></p>
    <div class="reveal__content text--left">
      <div class="notice">
        <p>
          <%= t(self_or_other_member_translation_key(".verify_income"), name: current_report.member.first_name) %> The best ways to prove this are:
        </p>

        <ul class="list--bulleted">
          <li><%= t(self_or_other_member_translation_key(".paystubs")).html_safe %></li>
          <li><%= t(self_or_other_member_translation_key(".change_in_hours_letter")) %></li>
        </ul>

        <p>
          If you don’t have either of these, we’ll work with you to find other ways to prove this change.
        </p>
      </div>
    </div>
  </div>
<% end %>
