<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Full name
    </p>
    <span class="value">
        <%= member.full_name %>
      </span>
  </div>

  <div class="column one-of-two">
    <p class="label">
      Phone Number
    </p>
    <span class="value">
        <%= formatted_phone_number(member.phone_number) %>
      </span>
  </div>
</div>

<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Social Security Number
    </p>
    <%= render partial: 'reports/value_or_no_response', locals: { value: member.ssn } %>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Case Number
    </p>
    <%= render partial: 'reports/value_or_no_response', locals: { value: member.case_number } %>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Date of Birth
    </p>
    <span class="value">
        <%= member.birthday&.strftime("%D") %>
      </span>
  </div>
</div>