<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Date Submitted
    </p>
    <span class="value">
        <%= @report.submitted_at %>
      </span>
  </div>
  <div class="column one-of-two">
    <p class="label">
      Submitted by
    </p>
    <span class="value">
        <%= @report.signature %>
      </span>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Full name
    </p>
    <span class="value">
        <%= @report.client_name %>
      </span>
  </div>

  <div class="column one-of-two">
    <p class="label">
      Phone Number
    </p>
    <span class="value">
        <%= @report.client_phone_number %>
      </span>
  </div>
</div>

<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Social Security Number
    </p>
    <%= render partial: 'reports/value_or_no_response', locals: { value: @report.ssn } %>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Case Number
    </p>
    <%= render partial: 'reports/value_or_no_response', locals: { value: @report.case_number } %>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Date of Birth
    </p>
    <span class="value">
        <%= @report.birthday %>
      </span>
  </div>
</div>

<div class="divider"></div>