<div class="row">
  <div class="column one-of-four">
    <p class="label">
      First day of work
    </p>
    <span class="value">
      <%= change.first_day&.strftime("%D") %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Paid yet?
    </p>
    <span class="value">
      <%= change.paid_yet %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      First paycheck
    </p>
    <span class="value">
      <%= change.first_paycheck&.strftime("%D") %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Wage
    </p>
    <span class="value">
      <%= "$#{change.hourly_wage} /hr" if change.hourly_wage.present? %>
    </span>
  </div>
</div>

<div class="row">
  <div class="column one-of-four">
    <p class="label">
      Regular hours?
    </p>
    <span class="value">
      <%= change.same_hours %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Range of hours worked a week
    </p>
    <span class="value">
      <%= change.new_job_hours_a_week %>
    </span>
  </div>

  <div class="column one-of-two">
    <p class="label">
      Pay frequency
    </p>
    <span class="value">
      <%= change.paid_how_often %>
    </span>
  </div>
</div>