<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Change type
    </p>
    <span class="value">
      Income change: new job
    </span>
  </div>

  <div class="column one-of-two">
    <p class="label">
      Employer name
    </p>
    <span class="value">
      <%= @report.new_job_company_name %>
    </span>
  </div>
</div>

<div class="row">
  <div class="column one-of-four">
    <p class="label">
      First day of work
    </p>
    <span class="value">
      <%= @report.first_day %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Paid yet?
    </p>
    <span class="value">
      <%= @report.paid_yet %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      First paycheck
    </p>
    <span class="value">
      <%= @report.first_paycheck %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Wage
    </p>
    <span class="value">
      <%= @report.new_job_hourly_wage %>
    </span>
  </div>
</div>

<div class="row">
  <div class="column one-of-four">
    <p class="label">
      Regular hours?
    </p>
    <span class="value">
      <%= @report.same_hours %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Range of hours worked a week
    </p>
    <span class="value">
      <%= @report.hours_a_week %>
    </span>
  </div>

  <div class="column one-of-two">
    <p class="label">
      Pay frequency
    </p>
    <span class="value">
      <%= @report.new_job_paid_how_often %>
    </span>
  </div>
</div>

<%= render partial: 'reports/job_contact_info', locals: { manager_name: @report.new_job_manager_name, manager_phone_number: @report.new_job_manager_phone_number } %>

<div class="row">
  <div class="column one-of-one">
    <p class="label">
      Additional info about hours and wages
    </p>
    <%= render partial: 'reports/value_or_no_response', locals: { value: @report.new_job_notes } %>
  </div>
</div>

<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Included verification documents?
    </p>

    <span class="value">
      <%= @report.new_job_uploaded_proof_words_for_pdf %>
    </span>
  </div>
</div>

<div class="divider"></div>
