<table>
  <thead>
  <tr>
    <td>Job Details</td>
    <td></td>
  </tr>
  </thead>
  <tr>
    <td>Employer name</td>
    <td><%= change.company_name %></td>
  </tr>
  <tr>
    <td>First day of work</td>
    <td><%= change.first_day %></td>
  </tr>
  <tr>
    <td>Paid yet?</td>
    <td><%= change.paid_yet %></td>
  </tr>
  <tr>
    <td>First paycheck</td>
    <td><%= change.first_paycheck %></td>
  </tr>
  <tr>
    <td>Wage</td>
    <td><%= change.hourly_wage %></td>
  </tr>
  <tr>
    <td>Regular hours?</td>
    <td><%= change.same_hours %></td>
  </tr>
  <tr>
    <td>Range of hours worked a week</td>
    <td><%= change.new_job_hours_a_week %></td>
  </tr>
  <tr>
    <td>Pay frequency</td>
    <td><%= change.paid_how_often %></td>
  </tr>
</table>