<h1>Change Request Form</h1>

<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Date Submitted
    </p>
    <span class="value">
        <%= @report.submitted_at %>
      </span>
  </div>
  <div class="column one-of-two">
    <p class="label">
      Submitted by
    </p>
    <span class="value">
        <%= @report.signature %>
      </span>
  </div>
</div>

<div class="divider"></div>

<% @changes_grouped_by_member.each do |change| %>
  <%= render partial: 'reports/member_info', locals: {member: MemberDecorator.new(change.member)} %>
  <div class="divider"></div>
  <%= render partial: "reports/change", locals: {change: ChangeDecorator.new(change)} %>

  <% unless change.equal?(@changes_grouped_by_member.last) %>
    <div class="page-break"></div>
  <% end %>
<% end %>

<div class="divider"></div>

<div class="row">
  <p>
    Questions or feedback on this PDF? Email us at <%= ENV["SENDING_EMAIL_ADDRESS"] %>.
  </p>
</div>