<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "analytics/ganalytics" %>

    <title>ReportChangesColorado.org</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="template--<%= content_for(:template_name) if content_for?(:template_name) %>">
    <div class="page-wrapper <%= content_for?(:dark_background) ? 'dark-background' : '' %>">
      <% if GateKeeper.demo_environment? %>
        <div class="demo-banner">
          This site is for example purposes only. If you need to submit a change report, visit <a class="link--subtle" href="https://reportchangescolorado.org">ReportChangesColorado.org</a>.
        </div>
      <% end %>
      <%= content_for?(:content) ? content_for(:content) : yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
