<% content_for :content do %>
    <% content_for :template_name, 'form' %>
    <header class="main-header">
      <div class="toolbar">
        <div class="toolbar__left">
          <h1 class="main-header__title">
            <%= link_to "ReportChangesColorado.org", root_path, class: "main-header__logo" %>
          </h1>
        </div>
      </div>
    </header>

    <div class="slab">
        <% if content_for? :form_card %>
          <%= yield :form_card %>
        <% else %>
          <main id="main" class="form-card">
            <%= form_tag @step, as: :step, url: current_path, method: :put %>
            <header class="form-card__header">
              <% if content_for? :form_card_header %>
                  <%= yield :form_card_header %>
              <% else %>
                  <h1 class="form-card__title">
                    <%= yield :form_card_title %>
                  </h1>
                  <% if content_for? :form_card_help %>
                      <p class="text--help">
                        <%= yield :form_card_help %>
                      </p>
                  <% end %>
                  <% if content_for? :form_card_help_section %>
                      <%= yield :form_card_help_section %>
                  <% end %>
              <% end %>
            </header>

            <div class="form-card__content">
              <%= yield :form_card_body %>
            </div>

            <% unless content_for(:skip_footer) %>
                <div class="form-card__footer">
                  <% if content_for? :form_card_footer %>
                      <%= yield :form_card_footer %>
                  <% else %>
                      <% if @form.is_a? NullForm %>
                          <%= render "shared/next_step_link", button_label: content_for(:form_card_footer_button_label) || 'Continue' %>
                      <% else %>
                          <%= render "shared/next_step", button_label: content_for(:form_card_footer_button_label) || 'Continue' %>
                      <% end %>
                  <% end %>
                </div>
            <% end %>

            </form>
          </main>

        <% unless content_for(:hide_percentage) %>
          <%= render "shared/progress_indicator", progress_indicator_percentage: current_percentage %>
        <% end %>
      <% end %>
    </div>
<% end %>

<%= render template: 'layouts/application' %>
