<% content_for :content do %>
  <div class="slab">
    <main id="main" class="form-card">
      <% if content_for? :emoji %>
        <header class="text--centered with-padding-large nudge--large">
          <div class="emoji emoji--big <%= content_for :emoji %>"></div>
      <% else %>
        <header class="form-card__header">
      <% end %>
        <h1 class="form-card__title">
          <%= yield :form_card_title %>
        </h1>

        <% if content_for? :form_card_help %>
          <p class="text--help">
            <%= yield :form_card_help %>
          </p>
        <% end %>
      </header>

      <div class="form-card__content">
        <%= yield :form_card_body %>
      </div>

      <div class="form-card__footer">
        <%= render "shared/next_step_link", button_label: content_for(:form_card_footer_button_label) || 'Continue' %>
      </div>
    </main>

    <%= render "shared/progress_indicator", progress_indicator_percentage: current_percentage %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
